* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
	background: url('../img/style_img/bg_img.jpg');
	background-size: contain;
}


}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-color: #ffffff;
	box-shadow: 0 0 50px rgba(0,0,0,0.8); /* Параметры тени */

}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 167px;
	background: url('../img/style_img/header.jpg');
	background-size: auto;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 100px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 0 0 270px;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 243px;
	height: 350px;
	margin-left: -100%;
	position: relative;
	
}
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 960px;
	margin: -100px auto 0;
	height: 100px;
	background: #ffffff;
	position: relative;
}

#menu_block{
	width: 243px;
	height: 272px;
	background: url('../img/style_img/menu.jpg');
	background-size: auto;
}

#admin_menu_block{
	width: 243px;
	height: 365px;
	background: url('../img/style_img/menu_admin.jpg');
	background-size: auto;
	text-transform: 
}

.menu_link{
	font-style: italic;
	font-size: 20px;
	font-color: #ffffff;
	margin-top: 26px;
	margin-left: 56px;
}

.menu_link_solo{
	margin-top: 80px;
}

#footer_line{
	background: #cecece;
	margin-bottom: 50px;
}